@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Reservations</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function(){

			$.get("/Main/GetProducts", {},
				function(data, status){
					$("#productsDiv").html(data);

					$("#productsDiv").on('change', 'input.product', function(){
						if(this.checked){
							const product = $(this).val();

							$.post("/Main/VerifyOrder", {product: product})
							.done(function(data){
								if(data){
									alert(data);
								}
							})
							.fail(function(){
								alert("Error checking the product");
							})
						}
					})
			})
			
			$("#SubmitOrder").click(function(){
				const products = [];
				document.querySelectorAll('input[name="products[]"]:checked').forEach(input => {
					products.push(input.value);
				});

				$.post("/Main/SubmitOrder", {products})
				.done(function(data) {
					alert("Order submited successfully! " + data);
					window.location.reload();
				})
				.fail(function(){
					alert("Error adding the order");
				})
			});
		});
	</script>
</head>
<body>
	<h2>Order</h2>
	<div id="productsDiv"></div>
	<button id="SubmitOrder">Submit Order</button>
</body>
</html>