@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Reservations</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function(){
			

			$("#ViewTasks").click(function() {
				window.location.href = "/Main/GetTasksPage";
			});
		});
	</script>
</head>
<body>
	<button id="ViewTasks">View Tasks</button>
</body>
</html>