@{
    ViewData["Title"] = "Answer secret question";
}

<h2>@ViewBag.Question</h2>
<form method="post" asp-action="SecretQuestion">
    <input name="answer" placeholder="Answer..." required />
    <button type="submit">Login</button>
</form>