<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="connectionString" value="The connection string"/>
		<add key="parentTable" value="Grupe"/>
		<add key="childTable" value="Elevi"/>
		<add key="relation" value="Group-Students"/>
		<add key="parentColumn" value="ID_Grupa"/>
		<add key="childColumn" value="Grupa"/>
	</appSettings>
</configuration>